/* turn.js additional*/

.bookViewer{
	margin: 5px auto 0 auto;
}

.bookViewer .page{
	background: #FFF;
}

/* PDF.js additional */

.secondaryToolbarButton.bookFlip::before {
	content: url(secondaryToolbarButton-bookFlip.png);
}

@media screen and (-webkit-min-device-pixel-ratio: 1.1), screen and (min-resolution: 1.1dppx) {
	.secondaryToolbarButton.bookFlip::before {
		content: url(secondaryToolbarButton-bookFlip@2x.png);
	}
}

/* added by samuel N */
.directions a{
    position: absolute;
    top: 50%;
    margin-top: -16px;
    outline: 0;
    width: 45px;
    height: 45px;
    text-indent: -9999px;
    z-index: 9999;
}

.directions a.prev-button{
    left: 0;
    background: #f7f6f6 url(pics/alt-prev.png) no-repeat center center;
}


.directions a.next-button{
    right: 0;
    background: #f7f6f6 url(pics/alt-next.png) no-repeat center center;
}
